  <div class="row mobile">
    <div class="twelve columns phone-four">
      <div class="idea-content">
        <h4>Remind me to...</h4>
        <h3><%= @idea.content %></h3>
    </div>
    </div>
  </div>


  <div class="row mobile">
    <div class="twelve columns phone-four">
      <div><%= @idea.users_marked_the_idea_good_count %> people think that this idea is good</div>
      <div><%= @idea.users_marked_the_idea_done_count %> people already did this</div>
      <div>12355 people want to remember this idea</div>
    </div>
  </div>

  <div class="row mobile">
    <div class="twelve columns phone-four">
      <% if @user_idea.nil? %>
        <%= link_to 'Remind me too', new_for_existing_idea_path(@idea.id), :remote => true %>
      <% else %>
        <% if @user_idea.reminder_date.nil? %>
          <a href="#">Create reminder</a>
        <% else %>
          <a href="#">Modify reminder</a>
        <% end %>
      <% end %>
    </div>
  </div>

<br />
<%= render 'ideas/details_tabs' %>