<div class="toolbar right invisible" id="item_toolbar_37">
  <span>
    <%= link_to 'Show', idea_path(idea) %>
  </span> ·
  <% unless current_user.has_idea? idea %>
    <%= link_to 'Remind me too', idea_form_path(idea.id), :remote => true %> ·
  <% else %>
    <% user_idea = current_user.user_idea idea %>
    <% if user_idea.reminder_date.nil? %>
      <%= link_to 'Create reminder', idea_form_path(idea.id), :remote => true %> ·
    <% else %>
      <%= link_to 'Modify reminder', idea_form_path(idea.id), :remote => true %> ·
    <% end %>
  <% end %>
  <span class="good_idea_<%= idea.id %>">
    <%= render :partial => 'ideas/good_idea_link', :locals => {:idea => idea} %>
  </span> ·
  <span class="done_idea_<%= idea.id %>">
      <%= render :partial => 'ideas/done_idea_link', :locals => {:idea => idea} %>
  </span>
</div>
