<div id="zurBar" class="container">
  <div class="row">
    <div class="three columns">
      <h1><%= link_to "remind me to live", root_path, :class => "brand" %></h1>
    </div>
    <div class="four columns hide-on-phones left">
      <strong class="left">
        <%= link_to 'News Feed', root_path %>
        <%= link_to "Profile", current_user %>
        <a href="#">Find People</a>
        <a href="#">Calendar</a>
      </strong>
    </div>
    <div class="five columns hide-on-phones right">
      <strong class="right">
        <%= link_to "Settings", user_profile_path(current_user) %>
        <%= link_to "Sign out", signout_path, :method => :delete %>
      </strong>
    </div>
  </div>
</div>
