<%= simple_form_for @user_idea, :remote => remote? do |f| %>
  <div class="row mobile" style="padding-top: 10px;">
    <div class="twelve columns">
      <h5>Remind me to</h5>
      <%= @idea.content %>
      <%= f.hidden_field :idea_id, :value => @idea.id %>
    </div>
  </div>
  <div class="row mobile">
    <div class="seven mobile-four columns">
      <%= f.label :reminder_date, 'on' %>
      <%= f.input :reminder_date, :label => false, :placeholder => 'eg: 10/10/2011', :size => 20 %>
    </div>
    <div class="five mobile-four columns">
      <%= f.label :privacy, 'as' %>
      <%= f.collection_select :privacy, [[0, 'Public'] ,[1, 'Private']], :first, :last %>
    </div>
  </div>
  <hr />
  <%= f.submit @title, :class => "nice large radius blue button" %>
  </div>
<% end %>