<%= simple_form_for @user_idea do |f| %>
  <fieldset>
    <div class="row mobile">
      <div class="twelve columns">
        <h5>Remind me to</h5>
      </div>
    </div>
    <div class="row mobile">
      <div class="ten columns phone-three">
        <%= f.simple_fields_for :idea do |idea_form| %>
          <%= idea_form.input :content, :as => :text , :label => false, :autofocus => true, :placeholder => 'eg: learn to play the piano' %>
        <% end %>
      </div>
      <div class="two columns phone-one">
        <span  id="characters-left" class="wrap">140</span>
      </div>
    </div>
    <div class="row mobile">
      <div class="two columns">
        <%= f.label :reminder_date, 'on' %>
      </div>
      <div class="four columns">
        <%= f.input :reminder_date, :label => false, :placeholder => 'eg: 10/10/2011 (optional)', :size => 20 %>
      </div>
      <div class="one columns">
        <%= f.label :privacy, 'as' %>
      </div>
      <div class="three columns">
        <%= f.collection_select :privacy, [[0, 'Public'] ,[1, 'Private']], :first, :last %>
      </div>
      <div class="two columns">
        <%= f.submit 'Post', :class => "nice small radius blue button right", :id => 'post-button' %>
      </div>
    </div>
  </fieldset>
<% end %>